* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(130, 221, 142);
}

.Auth_Box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0, auto;
  height: 1300px;
}
