.Login_Input_Box {
  width: 1000px;
  height: 1000px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  text-align: center;
  font-size: 50px;
  background-color: rgb(206, 241, 211);
  color: rgb(93, 212, 112);
}
