.Login_Input_Box {
  width: 1000px;
  height: 1000px;
  border: none;
  border-left: 1px solid rgb(113, 196, 124);
  border-right: 1px solid rgb(113, 196, 124);
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  text-align: center;
  font-size: 50px;
  background-color: rgb(206, 241, 211);
  color: rgb(93, 212, 112);
}

.email_box {
  display: flex;
  margin-top: 30px;
}

.email_box input {
  width: 500px;
  height: 100px;
  background-color: rgb(206, 231, 209);
  color: rgb(87, 175, 101);
  border: none;
  font-size: 30px;
}

.icon_box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 244, 234);
  border: none;
}

.icon {
  font-size: 30px;
  color: rgb(88, 172, 97);
}

.Login_Input_Submit_Box {
  width: 900px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Login_Input_Submit_Box input {
  width: 400px;
  height: 70px;
  font-size: 20px;
  background-color: rgb(54, 18, 79);
  color: white;
}

.login_input::placeholder {
  color: rgb(87, 175, 101);
  text-align: left;
  padding-left: 30px;
}
