.nav {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 10px;
  color: gray;
  font-weight: 700;
  font-size: 15px;
}

li:last-child {
  margin-right: 0;
}

a {
  color: gray;
  font-weight: 700;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
}
